// Buttons
$primary: #ffb361;
$secondary: #242424;

// Backgrounds
$primary-background: #181818;
$card-color: #191919;

// States
$neutral: #ffb361;
$success: #61bf73;
$fail: #cc6666;

// Icons
$icon-color: #6f6f6f;

// Tags
$tagColor: #61d5ff;
